div.pali-words span.word {
    display: inline-block;
    flex: none;
    padding: 0 0.15em;
}
div.pali-words div.line {
    display: block;
    flex: none;
}
textarea.translation-input {
    width: 500px;
    height: 500px;
}
.hover-gray:hover {
    background-color: #eee;
}
b.highlight {
    font-weight: bold;
    color: #000;
    background-color: #FFB90F;
}
