@font-face {
    font-family: 'EB Garamond SSP';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/eb-garamond/EBGaramond12-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'EB Garamond SSP';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/eb-garamond/EBGaramond12-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'EB Garamond SSP';
    font-style: italic;
    font-weight: 500;
    src: url('/assets/fonts/eb-garamond/EBGaramond08-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'EB Garamond SSP';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/eb-garamond/EBGaramond08-Regular.ttf') format('truetype');
}

