@font-face {
    font-family: 'Abhaya Libre SSP';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/abhaya-libre/AbhayaLibre-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Abhaya Libre SSP';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/abhaya-libre/AbhayaLibre-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Abhaya Libre SSP';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/abhaya-libre/AbhayaLibre-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Abhaya Libre SSP';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/abhaya-libre/AbhayaLibre-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Abhaya Libre SSP';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/abhaya-libre/AbhayaLibre-ExtraBold.ttf') format('truetype');
}
